<div class="navbar-fixed">
    <nav style="color: black">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Logo</a>
          <ul class="right hide-on-med-and-down">
              <li>
                <div class="valign-wrapper">
                    <a class='dropdown-trigger' data-target='dropdown1'>
                        <img class="circle responsive-image" src="{{photo}}" width="32px">
                    </a>
                </div>
              </li>
            <li><a>Sass</a></li>
            <li><a>Components</a></li>
            <!-- Dropdown Trigger -->
          </ul>
        </div>
      </nav>
</div>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
      <li><a><i class="material-icons">account_circle</i>  {{firstName}} {{lastName}}</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider" tabindex="-1"></li>
      <li><a href="#!">three</a></li>
      <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
      <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>
          