<div class="navbar-fixed">
  <nav id="nav-student">
    <div class="nav-wrapper">
      <a (click)="goToDashboard()" class="brand-logo center">Blackbriar</a>

      <ul class="left ">
        <li>
          <a data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
        </li>
        <li>
          <a [matMenuTriggerFor]="menu">
            <span><img class="circle responsive-image logo-img" src="{{photo}}"></span>
            #<span><i style="padding-left: 30px" class="material-icons right">arrow_drop_down</i></span>
          </a>

          <mat-menu #menu="matMenu">
            <button class="menuOption" (click)="goToDashboard()" mat-menu-item> My Groups</button>
            <button class="menuOption" (click)="logOut()" mat-menu-item>Log out</button>
          </mat-menu>
        </li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">
            <i class="material-icons">notifications_none</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- Notification SideNav -->
<ul id="slide-out" class="sidenav">
  <li><a>Notifications</a></li>

  <div class="row" *ngFor="let message of notifications">
    <app-notifications [notification]=message></app-notifications>
  </div>
</ul>
