<div class="navbar-fixed">
    <nav class="navbar-fixed white  shadow z-depth-3">
        <div class="nav-wrapper" style="color: black">
          <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <img src="../../../assets/Images/Logo/logo2.png" height="60" width="200" style="float:left; position: fixed;" (click)="goToDashboard()" > 
          <ul class="right hide-on-med-and-down">
              <li>
                <div class="row valign-wrapper">
                    <a class='dropdown-trigger' data-target='dropdown1'>
                        <img class="circle responsive-image" src="{{photo}}" width="32px">
                    </a>
                </div>
              </li>
              <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">notifications_none</i></a>
            <li><a>Components</a></li>
            <!-- Dropdown Trigger -->
          </ul>
        </div>
      </nav>
</div>


<ul id="slide-out" class="sidenav">
  <li><a>Notifications</a></li>
  <div class="row" *ngFor="let message of notifications">
    <app-notifications [notification]=message></app-notifications>
  </div>
</ul>
<!-- <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content' style="width: 200px">
      <li><a><i class="material-icons">account_circle</i>  {{firstName}} {{lastName}}</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider" tabindex="-1"></li>
      <li><a href="#!">three</a></li>
      <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
      <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>
          
    <ul class="sidenav" id="mobile-demo">
      <li>
        <div class="row valign-wrapper">
            <a>
                <img class="circle responsive-image" src="{{photo}}" width="32px">
                {{firstName}} {{lastName}}
            </a>
        </div>
      </li>
      <li><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large sidenav-close"><i class="material-icons">notifications_none</i> Notifications</a></li>
    </ul>
