.modal-content {
    padding-top: 2em;
}

.wizard-pic {
    margin-left: 2em;
}

.row {
    margin-top: 1em;
}

.wizard-note {
    font-size: 16px;
}

.wizard-title {
    margin-bottom: 20px;
    font-size: 28px;
}