
<div class="landing-container">
<div class="fire">
  <div class="fire-left">
    <div class="main-fire"></div>
    <div class="particle-fire"></div>
  </div>
  <div class="fire-main">
    <div class="main-fire"></div>
    <div class="particle-fire"></div>
  </div>
  <div class="fire-right">
    <div class="main-fire"></div>
    <div class="particle-fire"></div>
  </div>
  <div class="fire-bottom">
    <div class="main-fire"></div>
  </div>
</div>

<div class="row" style="left: 50%;margin-left: 41%; margin-top: 4%;">
 <h1>Black<br/>Briar</h1>
 <a (click) = "goToLogin()" >Login </a>

 </div>
    
  
</div>
