<table class="highlight">

  <!-- Table column names -->
  <thead>
    <tr>
      <th>Forum</th>
      <th>Posts</th>
      <th>Creation</th>
      <th>End Date</th>
      <th>Published</th>
      <th>Status</th>
    </tr>
  </thead>

  <!-- Table rows -->
  <tbody>
    <tr *ngFor="let forum of forums"  (click)="goToForumDashboard(forum.id)">
      <td>
        <a class="forumTitle" *ngIf="forum.expired == true">{{forum.title}}<br></a>
        <p class="forumTitleDisabled"*ngIf="forum.expired == false">{{forum.title}}<br></p>
        <p *ngIf="forum.expired == true"> {{forum.smallDescription}}...</p>
        <p class="forumDescriptionDisabled" *ngIf="forum.expired == false"> {{forum.smallDescription}}...</p>


      </td>
      <td *ngIf="forum.expired == true"> <span class="badge"> 0 </span> </td>
      <td *ngIf="forum.expired == false" class="cDisabled"> <span class="badge"> 0 </span> </td>

      <td *ngIf="forum.expired == true"> <span class="date"> {{forum.sDate}} </span> <br> {{forum.sTime}} </td>
      <td *ngIf="forum.expired == true"> <span class="date"> {{forum.eDate}} </span> <br> {{forum.eTime}} </td>

      <td *ngIf="forum.expired == false" class="cDisabled"> <span class="date"> {{forum.sDate}} </span> <br> {{forum.sTime}} </td>
      <td *ngIf="forum.expired == false" class="cDisabled"> <span class="date"> {{forum.eDate}} </span> <br> {{forum.eTime}} </td>


      <!-- PUBLISHED -->
      <td *ngIf="forum.published == true" class="badge"> <span class="green darken-3 accent-4 statusSpan" >Yes</span></td>

      <td *ngIf="forum.published == false" class="badge"> <span class="red darken-1 statusSpan"> No </span></td>

      <!-- STATUS -->
      <td *ngIf="forum.expired == true" class="badge"> <span class="green darken-3 accent-4 statusSpan"> Active </span> </td>

      <td *ngIf="forum.expired == false" class="badge"> <span class="red darken-1 statusSpan"> Finished </span> </td>

    </tr>
  </tbody>
</table>