<app-navbar-instructor></app-navbar-instructor>

<div class="body">
	<!-- Wrapper -->
			<div id="wrapper">

          <!-- Header -->
            <header id="header" class="alt">
              <span class="logo"><img src="images/logo.svg" alt="" /></span>
              <h1>{{title}}</h1>
              <p>{{descriptionForum}}<br/>
              <span id="contentForum"> </span>
              </p>
            </header>

          <!-- Main -->
            <div id="main">
              
              <div class="row tab-control-row">
                <!-- SELECT NAV -->
                  <ul id="tabs-swipe-demo" class="tabs">
                    <li class="tab col s3"><a href="#test-swipe-1" class="active" >Forum</a></li>
                    <li class="tab col s3"><a href="#test-swipe-2">Students</a></li>
                    <li class="tab col s3"><a href="#test-swipe-3">Responses to Validate</a></li>
                  </ul>
              </div>
             
               <!-- OPTION 1 -->
                <div id="test-swipe-1" class="col s12 ">
                    <app-instructor-forum-display></app-instructor-forum-display>
                </div>
              
                 <!-- OPTION 2 -->
                <div id="test-swipe-2" class="col s12 ">
                    <app-display-users> </app-display-users>
                
                </div>
                
                 <!-- OPTION 3 -->
                <div id="test-swipe-3" class="col s12 ">
                    <app-forum-response> </app-forum-response>
                </div>

            
            </div>
    
      </div>


    </div>

