<app-navbar-instructor></app-navbar-instructor>

<div style="position: absolute; top: 0; width: 100%">
  <app-banner-group [groupId]="groupId"></app-banner-group>

  <div class="container container-body">
    <div class="row">

      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a href="#students">Students</a></li>
          <li class="tab col s3"><a href="#forums">Forums</a></li>
          <li class="tab col s3"><a href="#createForum">Create Forum</a></li>
        </ul>
      </div>


      <div id="students" class="col s12">
        <app-students-list [groupId]="groupId"></app-students-list>
      </div>


      <div id="forums" class="col s12">
        <app-instructor-forum [forums]="forums"></app-instructor-forum>
      </div>


      <div id="createForum" class="col s12">
        <create-forum [groupId]="groupId"></create-forum>
      </div>
    </div>
  </div>
</div>