.container-body {
    height: 860px;
}



.forum-modal {
    height: 90%;
    width: 70%;
}

.card-wrapper {
    padding: 5px;
    margin-bottom: 5px;
}

.modal .sideBar {
    top: 0;
    left: 0;
    float: left;
    /*height: 100%;
    width: 30%;*/
    height: 500px;
    width: 490px;
    background-color: brown;
    position: static;
}

.modal .modal-header {
    padding: 10px;
    background-color: rgb(230, 230, 230);
}

.header-input:focus {
    background-color: rgb(230, 230, 230);
    text-align: left;
    border: none;
    border-color: transparent;
    font-size: 22px;
    border-bottom: 0px solid rgb(255, 255, 255);
    box-shadow: 0 1px 0 0 rgb(255, 252, 252);
}

.modal .body-content {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 62.8%;
    float: right;
}

.modal .body-content .datePick {
    float: left;
    width: 50%;
    background-color: white;
}

.modal .body-content .timePick {
    float: right;
    width: 50%;
    border-left: 1px;
    background-color: white;
}

.role-logo {
    height: 46px;
    width: 46px;
}

.role-title {
    margin-left: 35%;
    align-content: center;
}

.role-title h5 {
    font-size: 22px;
    font-weight: bold;
}

.modal input {
    text-align: left;
    border-bottom: 1px solid rgb(100, 100, 100);
}

.modal input:hover {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.modal input:hover+label {
    color: #000;
}

.modal input+label {
    color: rgb(100, 100, 100);
}

.description-content {
    top: 0;
}

textarea {
    margin-top: 10px;
    margin-left: 50px;
    width: 90%;
    height: 300px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}

textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.borderText {
    color: white;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.parallax-container {
    height: "100px";
}

.hyperLinkDescription {
    font-size: 16px;
}

.hyperLinkDescription {
    position: relative;
    font-size: 16px;
    text-decoration: none;
}

.hyperLinkDescription:hover {
    cursor: pointer;
}

.hyperLinkDescription:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.hyperLinkDescription:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.setp-body {
    height: 100%;
}


/* ROLE CARDS */

.card-container {
    height: 200px;
    width: 30%;
}

.card-image-container {
    align-content: center;
    margin-bottom: 70px;
}

.card-image-middle {
    margin-left: 80px;
}

.cardContent {
    margin-top: 150px;
}

.main {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    top: 0;
    left: 0;
    overflow: auto;
    background: #fbfbfb;
}

.main2 {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    top: 0;
    left: 0;
    overflow: auto;
    background: #fbfbfb;
}

.profile2 {
    /*background-image: url("http://starkovtattoo.spb.ru/images/200/DSC100224440.png");*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(253, 253, 253);
    width: 250px;
    height: 400px;
    position: absolute;
    top: 63%;
    left: 19%;
    margin: -200px 0 0 -125px;
    border-radius: 24px;
    border: none;
    box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.2);
    transition: all .3s;
}

.profile3 {
    /*background-image: url("http://starkovtattoo.spb.ru/images/200/DSC100224440.png");*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(253, 253, 253);
    width: 250px;
    height: 400px;
    position: absolute;
    top: 43%;
    left: 76%;
    margin: -84px 0 0 -60px;
    border-radius: 24px;
    border: none;
    box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.2);
    transition: all .3s;
}

.profile {
    /*background-image: url("http://starkovtattoo.spb.ru/images/200/DSC100224440.png");*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(253, 253, 253);
    width: 250px;
    height: 400px;
    position: absolute;
    top: 63%;
    left: 50%;
    margin: -200px 0 0 -125px;
    border-radius: 24px;
    border: none;
    box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.2);
    transition: all .3s;
}

.profileName {
    background: transparent;
    border: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    color: rgb(20, 20, 20);
}

.isVerified {
    fill: #eee;
    margin: 5px;
}

.card-body {
    color: rgb(20, 20, 20);
    margin-top: 1.5em;
}

.avatar {
    border-radius: 50%;
    max-width: 128px;
    max-height: 128px;
    transform: scale(0.95);
    transition: all .5s;
    cursor: pointer;
}

.avatar:hover {
    transform: scale(1);
    box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.2);
}

.profilePic {
    text-align: center;
}

.isOnline {
    text-align: center;
    color: #eee;
}

.profileInfo {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1em;
    font-weight: 250;
    font-size: 14px;
    color: rgb(20, 20, 20);
    text-align: center;
}

.actions {
    background: transparent;
    border: 0;
    color: #fff;
    display: inline-flex;
}

.actionFirst,
.actionSecond {
    width: 50%;
    text-align: center;
    fill: #ddd;
    transform: scale(0.8);
    transition: all .3s;
    cursor: pointer;
}

.actionFirst:hover,
.actionSecond:hover {
    transform: scale(1);
    fill: #fff;
}

.points {
    color: #000;
    text-align: center;
}