<app-navbar-instructor style="position: fixed; z-index:999999;"></app-navbar-instructor>
<app-banner-group [groupId]="groupId"></app-banner-group>

<div class="body">
	<!-- Wrapper -->
			<div id="wrapper">
          <div id="main"> 
              <div class="col s12 tabsControl">
                  <ul class="tabs">
                    <li class="tab col s3"><a href="#students">Students</a></li>
                    <li class="tab col s3"><a href="#forums">Forums</a></li>
                    <li class="tab col s3"><a href="#createForum">Create Forum</a></li>
                  </ul>
              </div>
              <div id="students" class="col s12">
                  <app-students-list [groupId]="groupId"></app-students-list>
              </div>
              <div id="forums" class="col s12">
                <app-instructor-forum [forums]="forums"></app-instructor-forum>
              </div>
              <div id="createForum" class="col s12">
                <create-forum [groupId]="groupId" (forumCreated)="addForum($event)"></create-forum>
              </div>
          </div>
      </div>
  </div>

