<app-student-navbar></app-student-navbar>

<div style="position: absolute; top: 0; width: 100%">
  <app-banner-group [groupId]="groupId"></app-banner-group>

  <div class="body">
	<!-- Wrapper -->
			<div id="wrapper">
          <div id="main">
  
      <!------------------------ TAB CONTROL ------------------->
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a href="#forums">Forums</a></li>
        </ul>
      </div>
      <!------------------- END TAB CONTROL --------------->

      <!---------------- TAB FORUMS ------------------->
      <div id="forums" class="col s12">
        <!-- FORUMS -->
            <div class="divider"></div>
            <app-student-forum [forums]="forums" [idGroup]="groupId"></app-student-forum>
          </div>
      
      <!------ END TAB FORMUS ----------------->
    </div>

 </div>
 </div>
 </div>
