<app-student-navbar></app-student-navbar>

<div class="parallax-container" style="height: 300px;">
  <div class="row">
    <div class="col s12 center-align">
      <h3 class="borderText">{{ title }}</h3>
      <img class="circle responsive-img" src="{{ instructorImage }}" width="100px">
      <p class="borderText" style="font-size: 20px">
        {{ instructorName }}
        <br>
        <label class="borderText hyperLinkDescription modal-trigger" data-target="descriptionModal">View
          description</label>
      </p>
    </div>
  </div>
  <div class="parallax" materialize="parallax" style="  filter: blur(4px); -webkit-filter: blur(4px);">
    <img src="{{image}}">
  </div>
</div>
<br>

<!-- FORUMS -->
<div class="container">
  <br>
  <div class="card">
    <div class="card-content">

      <h5>Forums</h5>
      <div class="divider"></div>

      <app-student-forum [forums]="forums"></app-student-forum>


      <!-- <editor id="myEditor" apiKey="0zeqbe0kfevgmf9jn459qn1v5dbwp929abb5ti04iurpssf3" (onSumit)="onSubmit()"
      [init]="{plugins: 'link'}"><button>Submit</button></editor> -->


    </div>