<app-student-navbar></app-student-navbar>

<!--  RIGHT SIDE STARTS  -->
<div class="container col s12 m12 l12">
  
  <div class="row">
    

  </div>
  <div class="row">
      <div>
        <table class="highlight">
          <thead>
            <tr>
              <th> Title </th>
              <th> Start Date </th>
              <th> End Date </th>
              <th> Status </th>
            </tr>
          </thead>

          <tbody>
            <!-- BODY ROW -->
            <tr>
                <td>
                 
                    <div style="font-size: 16px; font-weight: bold;">
                        Mr. Le Forum 
                    </div>
                   
                 <div>
                    This forum was created for testing purposes
                 </div>
                  
                
                
                </td>
                <td>May, 29th 2019</td>
                <td>Dec, 29th 2019</td>
                <td>3 Days To Start</td>
            </tr>
            <!-- BODY ROW -->
            <tr>
                <td>
                  
                    <div style="font-size: 16px; font-weight: bold;">
                        Mr. Le Forum 
                    </div>
                   
                 <div>
                    This forum was created for testing purposes
                 </div>
                  
                
                
                </td>
                <td>May, 29th 2019</td>
                <td>Dec, 29th 2019</td>
                <td>3 Days To Start</td>
            </tr>  <!-- BODY ROW -->
            <tr>
                <td>
                  
                    <div style="font-size: 16px; font-weight: bold;">
                        Mr. Le Forum 
                    </div>
                   
                 <div>
                    This forum was created for testing purposes
                 </div>
                  
               
                
                </td>
                <td>May, 29th 2019</td>
                <td>Dec, 29th 2019</td>
                <td>3 Days To Start</td>
            </tr>

          </tbody>
        </table>

      
      


      </div>
   </div>

</div>

