<article class="card z-depth-5">
  <details class="card-content" style="padding: 10px 0px 10px 20px">
    <summary class="card-title"><img class="circle responsive-img" width="32px"
        src="{{ comment.studentDetails.photo }}">
      {{ comment.studentDetails.firstName }} {{ comment.studentDetails.lastName }}
      <p class="span-text" style="margin: 0px 0px 0px 20px">
        <span [innerHTML]=comment.content></span>
      </p>
      <div *ngIf="fileTypeName.length > 0">
        <div class="row">
          <label class="span-text">Files attached</label>
          <br>
          <div class="col s3 m1" *ngFor="let file of fileTypeName">
            <div class="card">
              <div class="card-content truncate files">
                <a href="{{ file.url }}" target="_blank">
                  {{ file.name }}
                </a>
              </div>
              <div class="card-image">
                <img src="assets/Images/Icons/{{file.type}}.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <p *ngIf="hasFeedback" class="showResponses" style="margin: 0px 0px 0px 20px">Show Responses</p>
    </summary>
    <div *ngFor="let reply of comment.replies">
      <details class="card-content" style="padding: 10px 0px 10px 20px"
        *ngIf="reply.studentDetails; else instructorReply">
        <summary class="card-title"><img class="circle responsive-img" width="32px"
            src="{{ reply.studentDetails.photo }}">
          {{ reply.studentDetails.firstName }} {{ reply.studentDetails.lastName }}
          <div>
            <span class="span-text" [innerHTML]=reply.content> </span>
          </div>
        </summary>
      </details>
      <ng-template #instructorReply>
        <details class="card-content" style="padding: 10px 0px 10px 20px">
          <summary class="card-title"><img class="circle responsive-img" width="32px"
              src="{{ reply.instructorDetails.photo }}">
            {{ reply.instructorDetails.firstName }} {{ reply.instructorDetails.lastName }}
            <div class="chip">
              <img src="assets/Images/Icons/graduation.svg" alt="Instructor">
              Instructor
            </div>
            <div>
              <span class="span-text" [innerHTML]=reply.content> </span>
            </div>
          </summary>
        </details>
      </ng-template>
    </div>
    <div *ngIf="comment.approved == true">
      <editor apiKey="nkdz6b2xiovxu1xczn402rtp6cnjyqg30jdv93hnz0v1ew53"
        [init]="{plugins: 'link image', branding: false}" name="response" [(ngModel)]="feedback"
        id="{{comment.studentDetails.userId}}"></editor>
      <div class="row">
        <div class="col s12 m6">
          <div class="file-field input-field">
            <div class="btn">
              <i class="material-icons left">file_upload</i>
              <span>Upload file</span>
              <input #imageInput type="file" multiple (change)="processFile(imageInput, imageInput.files)">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="file-field input-field">
            <div class="btn" (click)="registerComment(comment.id)" style="width: 100%">
              <i class="material-icons left">send</i>
              <span>Send comment</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </details>
</article>