
    <div class="col s12 m3 l3">
        <div class="card z-depth-5">
          
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" height="200" src="{{group.image}}">
            </div>
              
            <div class="card-content">
             
              <span class="card-title activator grey-text text-darken-4 truncate">{{group.title}}
              </span>
              
              <a class="btn" style="background:darkorange; border-radius: 10px" *ngIf="!group.active; else buttonSubscribed" (click)="joinGroup(group.id, $event.toElement)">Subscribe</a>
              <ng-template #buttonSubscribed>
                <a class="btn" style="background:gray; border-radius: 10px" >Already Subscribed</a>
              </ng-template>

              <div class="card-action">
                <i class="material-icons" *ngIf="group.publicGroup; else unlocked">lock_open</i>
                <ng-template #unlocked>
                  <i class="material-icons">lock_outline</i>
                </ng-template>
              </div>
            </div>
          </div>
    </div>
