<div class="containerBackground background8BitImage" [style.backgroundImage]="'url('+ selectedImage  +')'">
  <div class="row"  style="margin-bottom: 0px">
      <div class="col s12 m5 offset-m3">
        <div class="col s12 z-depth-20 card-panel cardOwn" style="margin-top: 20px">
          <form class="login-form" style="padding: 0px 20px 0px 20px">
            <div class="row" >
                <h1 class="center-align">Blackbriar</h1>
                <h5 class="center-align">We are glad to have you here again</h5>
            </div>
              <div class="row">
                <div class="input-field col s11" style="margin: 0 10px 0 10px;">
                  <i class="material-icons prefix">mail_outline</i>
                  <input class="validate" id="email" type="email" name="email" [(ngModel)]="email">
                  <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s11" style="margin: 0 10px 0 10px;">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="password" type="password" name="password" [(ngModel)]="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row" style="margin: 0 10px 0 10px;">
                  <div class="input-field col s12 m12 xl6">
                    <a href="#" class="btn waves-effect waves-light blue darken-3 col s12"><i class="fa fa-facebook-official" aria-hidden="true"></i>    Login with Facebook</a>
                  </div>
                  <div class="input-field col s12 m12 xl6">
                      <a href="#" class="btn waves-effect waves-light red darken-1 col s12"><i class="fa fa-google" aria-hidden="true"></i>   Login with Google</a>
                  </div>
              </div>
              <div class="row"  style="margin: 0 10px 0 10px;" >
                <div class="input-field col s12">
                  <a class="btn waves-effect waves-light col s12" (click)="login()">Login</a>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <p class="center-align" style="margin: 0px 0px 0px 0px"><a routerLink="/">Forgot your password?</a></p>
                </div>
                <div class="input-field col s12">
                    <p class="center-align" style="margin: 0px 0px 25px 0px">Are you new here? <a routerLink="/">register now</a></p>
                </div>          
              </div>
      
            </form>
          </div>
        </div>
    </div>
</div>