<div class="container forum-body">

  <button class="collapsible-comment">

    <div class="profile-pic">
      <img class="responsive-img" src="cool_pic.jpg">
    </div>

    <div>
      <span class="span-name"> Pedro Navajas </span>
      <span> 3 Days ago</span>
    </div>

    <div>
      <span class="span-text">
        Pedro Navajas and Hitler went for cawamas yesterday! Fierro Pariente Kun!
        <img class="responsive-img role-pic" src="cool_pic.jpg">
      </span>
    </div>
    <a class="a-show-responses"> Show responses</a>
  </button>

  <!-- CONTENT STARTS-->
  <div class="content">

    <div class="response-body">

      <div class="profile-pic">
        <img class="responsive-img" src="cool_pic.jpg">
      </div>

      <div>
        <span class="span-name"> Pedro Navajas </span>
        <span> 3 Days ago</span>
      </div>

      <div>
        <span class="span-text">
          Pedro Navajas and Hitler went for cawamas yesterday! Fierro Pariente Kun!
          <img class="responsive-img role-pic" src="cool_pic.jpg">
          <i class="material-icons delete-icon">highlight_off</i>
        </span>
      </div>

    </div>

  </div>

 


</div>