<app-student-navbar></app-student-navbar>  `

<div class="row">
    <div class="input-field col s6">
      <input type="search" class="search-input light-blue darken-3 MiSearchBar valign-wrapper"
      [(ngModel)]="searchText" placeholder="Search text" (input)="Search()">
      <label class="active">Busqueda por Nombre, Nombre del Docente, Correo del Docente</label>
    </div>

    <div class="input-field col s6">
    <select default="1" [(ngModel)]="selectedValue" (change)="onChange()">
      <option value="1">My Groups</option>
      <option value="2">My Public Groups</option>
      <option value="3">My Private Groups</option>
    </select>
    <label>Filter Select</label>
  </div>
  </div>     
                                                        
<div class="row">
    <div *ngFor= "let group of groups">
      <app-student-mygroups-card [group] = group></app-student-mygroups-card>
    </div>
  </div>
