<div>

  <ul class="collapsible popout" *ngFor="let forumResponse of forumResponses">
    <li (click)="openCollapsible(forumResponse.id)">
     
      <div class="collapsible-header"><i><img class="circle responsive-img" src="{{forumResponse.studentDetails.photo}}" alt="" /></i>
        {{forumResponse.studentDetails.firstName}}
        {{forumResponse.studentDetails.lastName}}
        <span class="badge">{{forumResponse.createdSince}}</span>
      </div>
      <div class="collapsible-body"><span [innerHTML]=forumResponse.content></span><br><br>
        <hr color=#dddddd>
        <div style="text-align: right; padding-top: 15px">
          <a (click)="declineModal(forumResponse.id)" href="#modalDecline"
            class="waves-light red darken-1 btn-small modal-trigger" style="margin-right: 15px">Decline</a>
          <a (click)="approveModal(forumResponse.id)" href="#modalApprove"
            class="waves-light btn-small modal-trigger">Aprove</a>
        </div>
      </div>

      <!-- Modal Structure DECLINE-->
      <div id="modalDecline" class="modal">
        <div class="modal-content">
          <h5>Are you sure you want to decline this response?</h5>
          <p>It will notify the student that his/her answer has been declided. </p>
        </div>


        <div class="input-field col s12" style="padding-left: 20px; padding-right: 20px">
          <textarea id="textareaDecline" [(ngModel)]="textareaValue" class="materialize-textarea counted "
            maxlength="255" data-length="255"></textarea>
          <label for="textarea1">Comment (Optional)</label>
        </div>


        <div class="modal-footer">
          <a class="modal-close btn-flat">Cancel</a>
          <a (click)="decline(temp, answer)" class="modal-close btn-flat">Yes I'm sure</a>
        </div>
      </div>

      <!-- Modal Structure APPROVE-->
      <div id="modalApprove" class="modal">
        <div class="modal-content">
          <h5>Are you sure you want to aprove this response?</h5>
          <p>It will notify the student that his/her answer has been aproved.</p>
        </div>

        <div class="input-field col s12" style="padding-left: 20px; padding-right: 20px">
          <textarea id="textareaApprove" [(ngModel)]="textareaValue" class="materialize-textarea counted "
            maxlength="255" data-length="255"></textarea>
          <label for="textarea2">Comment (Optional)</label>
        </div>

        <div class="modal-footer">
          <a class="modal-close btn-flat">Cancel</a>
          <a (click)="approve(temp, answer)" class="modal-close btn-flat">Yes I'm sure</a>
        </div>
      </div>
    </li>

  </ul>

</div>
