<div class="show-users-wrapper">

  <button class="collapsible-users">
    <span class="collapsible-users-title">Active Users</span>
  </button>

  <div class="content-users">

    <mat-form-field>
      <mat-label>Role: </mat-label>
      <mat-select>
        <mat-option value="All">All</mat-option>
        <mat-option value="Warrior">Warrior</mat-option>
        <mat-option value="Healer">Healer</mat-option>
        <mat-option value="Warlock">Warlock</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="row">
      <img class="responsive-img" src="cool_pic.jpg">
      <span class="users-span-name"> {{name}} </span>
    </div>

  </div>

</div>