.show-users-wrapper {
    margin-top: 0px;
}

.users-span-name {
    top: -15;
    margin-left: 20px;
    align-content: top;
    align-items: top;
    padding-bottom: 10px;
}

mat-form-field {
    margin-top: 0px;
    margin-bottom: 0px;
}

.role-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.student-row {
    height: 50px;
    border-color: black;
}

.student-row:hover {
    background: rgb(204, 204, 204);
}

.circle {
    margin-top: 10px;
    margin-right: 16px;
}

.filter-form-field {
    float: right;
}
