
<div class="show-users-wrapper">

 

 

    <mat-form-field>
      <mat-label>Role: </mat-label>
      <mat-select [(ngModel)]="roleFilter" name="roleFilter" id="roleFilter" (selectionChange)="onChange()">
            <mat-option value="All">All</mat-option>
            <mat-option value="Warrior">Warrior</mat-option>
            <mat-option value="Healer">Healer</mat-option>
            <mat-option value="Warlock">Warlock</mat-option>   
            <mat-option value="Humans">Humans</mat-option>         
        </mat-select>
    </mat-form-field>

    <div class="row student-row"  *ngFor="let item of studentsFilter">
    
         <span class="users-span-name">
             <img width="30" height="30" class="responsive-img circle" src="{{item.photo}}">
              {{item.firstName}} {{item.lastName}}
          </span>
           
         <img *ngIf="item.warrior" src={{warriorIcon}}  class="role-icon">
         <img *ngIf="item.healer" src={{healerIcon}} class="role-icon">
         <img *ngIf="item.warlock" src={{warlockIcon}}  class="role-icon">
          
    </div>
  
 

</div>