<div class="navbar-fixed">
  <nav class="navbar-fixed white  shadow z-depth-3" style="border: none;">      
    <div class="nav-wrapper">
        <a data-target="mobile-demo" class="sidenav-trigger"><i style="color: black" class="material-icons">menu</i></a>
        <img src="../../../assets/Images/Logo/logo2.png" height="60" width="100" style="left:0; top:-10;  position: fixed;" (click)="goToMyGroups()">
        <ul class="left hide-on-med-and-down dark" style="margin-left: 41%;">       
            <li><a (click)="goToMyGroups()" > My Groups </a></li>
            <li><a (click)="goToExplore()"> Explore </a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons" style="color: gray">notifications_none</i></a>
    </div> 
  </nav>
</div>

<ul id="slide-out" class="sidenav">
  <li><a>Notifications</a></li>
  <div class="row" *ngFor="let message of notifications">
    <app-notifications [notification]=message></app-notifications>
  </div>
</ul>
        
  <ul class="sidenav" id="mobile-demo">
    <li>
      <div class="row valign-wrapper">
          <a>
              <img class="circle responsive-image" src="{{photo}}" width="32px">
              {{firstName}} {{lastName}}
          </a>
      </div>
    </li>
    <li><a (click)="goToMyGroups()" > My Groups </a></li>
    <li><a (click)="goToExplore()"> Explore </a></li>
  </ul>


