<div class="navbar-fixed">
  <nav class="navbar-fixed white  shadow z-depth-3" style="border: none;">
    <div class="nav-wrapper">
      <ul>
      <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <img src="../../../assets/Images/Logo/logo2.png" height="60" width="100" style="float:left; position: static;"
        (click)="goToMyGroups()">
      <ul class="left hide-on-med-and-down dark" style="margin-left: 41%;">
        <li><a (click)="goToMyGroups()"> My Groups </a></li>
        <li><a (click)="goToExplore()"> Explore </a></li>
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons"
            style="margin-left: 720px;float:right;">notifications_none</i></a>
      </ul>
      <li><a (click)="logOut()"> Log Out </a></li>
      <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
          class="material-icons">notifications_none</i></a>
      </ul>
    </div>
  </nav>
</div>

<ul id="slide-out" class="sidenav">
  <li><a>Notifications</a></li>
  <div class="row" *ngFor="let message of notifications">
    <app-notifications [notification]=message></app-notifications>
  </div>
</ul>

<ul class="sidenav" id="mobile-demo">
  <li>
    <div class="row valign-wrapper">
      <a>
        <img class="circle responsive-image" src="{{photo}}" width="32px">
        {{firstName}} {{lastName}}
      </a>
    </div>
  </li>
  <li><a (click)="goToMyGroups()"> My Groups </a></li>
  <li><a (click)="goToExplore()"> Explore </a></li>
  <li><a data-target="slide-out" class="sidenav-trigger show-on-large sidenav-close"><i
        class="material-icons">notifications_none</i> Notifications</a></li>
</ul>