<!-- <div class="navbar-fixed">
  <nav class="navbar-fixed white  shadow z-depth-3" style="border: none;">      
    <div class="nav-wrapper">
      <ul>
      <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <img src="../../../assets/Images/Logo/logo2.png" height="60" width="100" style="float:left; position: static;"
        (click)="goToMyGroups()">
      <ul class="left hide-on-med-and-down dark" style="margin-left: 41%;">
        <li><a (click)="goToMyGroups()"> My Groups </a></li>
        <li><a (click)="goToExplore()"> Explore </a></li>
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons"
            style="margin-left: 720px;float:right;">notifications_none</i></a>
      </ul>
      <li><a (click)="logOut()"> Log Out </a></li>
      <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
          class="material-icons">notifications_none</i></a>
      </ul>
    </div>
  </nav>
</div>

<ul id="slide-out" class="sidenav">
  <li><a>Notifications</a></li>
  <div class="row" *ngFor="let message of notifications">
    <app-notifications [notification]=message></app-notifications>
  </div>
</ul>

        
  <ul class="sidenav" id="mobile-demo">
    <li>
      <div class="row valign-wrapper">
          <a>
              <img class="circle responsive-image" src="{{photo}}" width="32px">
              {{firstName}} {{lastName}}
          </a>
      </div>
    </li>
    <li><a (click)="goToMyGroups()" > My Groups </a></li>
    <li><a (click)="goToExplore()"> Explore </a></li>
    <li><a data-target="slide-out" class="sidenav-trigger show-on-large sidenav-close"><i class="material-icons">notifications_none</i> Notifications</a></li>
  </ul> -->


<!-- ---------------------------- -->

<div class="navbar-fixed">
  <nav id="nav-student">
    <div class="nav-wrapper">

      <a (click)="goToMyGroups()" class="brand-logo center">Blackbriar</a>

      <ul class="left ">
        <li><a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
        <li>

          <a [matMenuTriggerFor]="menu">

            <span><img class="circle responsive-image logo-img" src="{{photo}}"></span>
            #<span><i style="padding-left: 30px" class="material-icons right">arrow_drop_down</i></span>

          </a>
          <mat-menu #menu="matMenu">
            <button class="menuOption" (click)="goToMyGroups()" mat-menu-item> My Groups</button>
            <button class="menuOption" (click)="goToExplore()" mat-menu-item> Explore Groups</button>
            <button class="menuOption" (click)="logOut()" mat-menu-item>Log out</button>
          </mat-menu>
        </li>
      </ul>

      <ul class="right hide-on-med-and-down">

        <li><a (click)="goToMyGroups()"><i class="material-icons" mat-raised-button
              matTooltip="My Groups">supervisor_account
            </i></a>
        </li>

        <li><a (click)="goToExplore()"><i class="material-icons" mat-raised-button
              matTooltip="Explore Groups">explore</i></a>
        </li>

        <!-- Version con sideNav
        <li>
          <a href="#" class="notification sidenav-trigger show-on-large" data-target="slide-out"
            matTooltip="Notifications"></a>
        </li> -->

        <li>
          <a (click)="openNotificationDropdown()" class="notification dropdown-button"
            data-activates="dropdownNotification" data-target='dropdownNotification' data-beloworigin="true"
            matTooltip="Notifications"></a>
        </li>

      </ul>
    </div>
  </nav>

</div>




<!-- Dropdown Structure -->
<ul id="dropdownNotification" class="dropdown-content">
  <div class="row" *ngFor="let message of notifications">
    <app-notifications [notification]=message></app-notifications>
  </div>
</ul>

<!-- Notification SideNav -->
<!-- <ul id="slide-out" class="sidenav collapsible" style="z-index:99999999;">
  <li>Notifications</li>
  <div class="row" *ngFor="let message of notifications">
    <app-notifications [notification]=message></app-notifications>
  </div>

</ul> -->