<app-navbar-instructor></app-navbar-instructor>
<div class="animated fadeInLeft" id="gridGroups" style="margin-top: 20px;">
  <div class="row">
    <div *ngFor="let group of groups">
        <app-group-card [group]=group></app-group-card>
    </div>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large green modal-trigger" data-target="modal1">
    <i class="large material-icons">add</i>
  </a>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Add group</h4>
      <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input name="title" type="text" [(ngModel)]="title">
                <label for="title">Title of group</label>
              </div>
              <div class="input-field col s12">
                <input id="description" name="description" type="text" [(ngModel)]="description">
                <label for="description">Description</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6 ">
                  <div class="switch">
                      <label style="color: black; font-size: 16px">
                          <p>Visibility of group</p>
                          Private
                          <input type="checkbox" name="public" [(ngModel)]="public">
                          <span class="lever"></span>
                          Public
                      </label>
                    </div>
              </div>
              <ul class="tabs col s12 m6">
                  <li class="tab col s6 m3"><a class="active" href="#test1">File</a></li>
                  <li class="tab col s6 m3"><a href="#test2">URL</a></li>
                </ul>
              <div id="test1" class="col s12 m6">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input #imageInput type="file" accept="image/*"(change)="processFile(imageInput, imageInput.files)">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
              </div>
              <div id="test2" class="col s12 m6">
                  <input id="image" name="image" type="text" [(ngModel)]="image">
                  <label for="image">URL Upload</label>
              </div>
            </div>
            <div *ngIf="selectedFile" class="img-preview-container">
                <div class="img-preview img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                     [ngStyle]="{'background-image': 'url('+ previewImage + ')'}">
                </div>
              
            </div>
          </form>
        </div>
              
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" (click)="addGroup()">Register group</a>
  </div>
</div>
        