<app-navbar-instructor></app-navbar-instructor>

<div class="background" style="background: #E6ECF0; height: 100%">
  <div class="container">
    <div class="row" style="padding-top:30px">
      <h3 style="font-weight: bold;">My groups</h3>
      <div class=" input-field col s6">
        <input type="text" id="search" name="search" [(ngModel)]="searchText" (input)="Search()">
        <label for="search" style="color: #191919 ">Search by name</label>
      </div>
      <div class="input-field col s6">
        <select default="1" [(ngModel)]="selectedValue" (change)="onChange()" style=" color: #191919">
          <option value="1">All Groups</option>
          <option value="2">Public Groups</option>
          <option value="3">Private Groups</option>
        </select>
        <label>Filter visibility of group</label>
      </div>
    </div>

    <div class="animated fadeInLeft" id="gridGroups" style="-top: 20px;">
      <div class="row">
        <div *ngFor="let group of groups">
          <app-group-card [group]=group></app-group-card>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large modal-trigger pink accent-4 z-depth-4" data-target="modal1">
    <i class="large material-icons">add</i>
  </a>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Add group</h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12 m6">
            <input name="title" type="text" [(ngModel)]="title">
            <label for="title">Title of group</label>
          </div>
          <div class="col s12 m6 ">
            <div class="switch">
              <label style="color: black; font-size: 16px">
                <p>Visibility of group</p>
                Private
                <input type="checkbox" name="public" [(ngModel)]="public">
                <span class="lever"></span>
                Public
              </label>
            </div>
          </div>
          <div class="input-field col s12">
            <label>Description</label>
            <editor apiKey="nkdz6b2xiovxu1xczn402rtp6cnjyqg30jdv93hnz0v1ew53"
              [init]="{plugins: 'link image', branding: false}" name="description" id="description" [(ngModel)]="description"></editor>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label>Upload your image of group</label>
            <div class="file-field input-field">
              <div class="btn">
                <span>Upload file</span>
                <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput, imageInput.files)">
              </div>
              <div class="file-path-wrapper">
                <input id="image-name" class="file-path validate" type="text" value = "" name= "imageNme">
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="selectedFile" class="img-preview-container">
          <div class="img-preview"
            [ngStyle]="{'background-image': 'url('+ previewImage + ')'}">
          </div>

        </div>
      </form>
    </div>

  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" (click)="addGroup()">Register group</a>
  </div>
</div>

