    <div class="col s12 m4 l3">
        <div class="card z-depth-3 hoverable">
            <div class="card-image">
              <img class="activator" height="200" src="{{group.image}}" (click)="goToGroupDashboard(group.id)">
              <span class="card-title activator text-white truncate" (click)="goToGroupDashboard(group.id)">{{group.title}}</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                  <i class="material-icons" [matMenuTriggerFor]="menu">more_vert</i>
              </a>
            </div>
            <div class="card-action">
                <a mat-raised-button matTooltip="Active Students"><i class="material-icons">group</i> 0 </a>
                <a mat-raised-button matTooltip="Total Forum Points"> <i class="material-icons">forum</i> 0</a>
              </div>
        </div>
    </div>

    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
      </ul>