    <div class="col s12 m4 l3">
        <div class="card z-depth-3 hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{group.image}}" height="200px" (click)="goToGroupDashboard()">
            </div>
          <div class="card-content">
            <a class='dropdown-trigger' data-target='dropdown1'><i class="material-icons right dropdown-trigger">more_vert</i></a>
            <span class="card-title activator grey-text text-darken-4 truncate">{{group.title}}</span>
             
          </div>
        </div>
    </div>

    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
      </ul>