.card-image img:hover {
    webkit-filter: blur(4px);
    /* Chrome, Safari, Opera */
    filter: blur(4px);
}

.vert {
    float: right;
    cursor: pointer;
}

.modal-header {
    text-align: center;
}

.modalText {
    text-align: center;
    font-size: 20px;
}

.modal-agree {
    color: white;
}