<div class="col s12 m4 l3" *ngIf="group.membership.active">
  <div class="card z-depth-5">
    <div class="card-image">
      <img class="activator" height="200" src="{{group.image}}" (click)="goToGroupForums(group.id)">
    </div>
    <div class="card-content">
      <!-- Dropdown Structure -->
      <i class="material-icons vert" [matMenuTriggerFor]="menu">more_vert</i>
      <span class="card-title activator grey-text text-darken-4 truncate">{{group.title}}
      </span>
    </div>
  </div>
</div>


<mat-menu #menu="matMenu">
  <button mat-menu-item class="red" (click)="unsubscribeMe(group.membership.id)">Unsubscribe</button>
  <!-- <a class="red btn modal-trigger" href="#modal1">Unsubscribe</a> -->
</mat-menu>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="modal-header">Unsubscribe</h4>
      <p class="modalText">Are you sure that you want to unsubscribe from this group?
      <br>
      All your data from this group will be deleted.
      </p>
    </div>
    <div class="modal-footer">
      <a  class="modal-close btn-flat">Cancel</a>
      <button class="btn-flat red modal-agree" (click)="unsubscribeMe(membershipId)">Agree</button>
    </div>
  </div>