<app-student-navbar></app-student-navbar>

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ forumTitle }}</span>
                <hr>
                <p [innerHTML]="forumDescription"></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" *ngIf="responses.length == 0">
        <div class="col s12">
            <div class="card-panel teal">
                <span class="white-text">There are no answers, maybe you are the first one, animate to answer</span>
            </div>
        </div>
    </div>
    <div class="row" *ngFor="let comment of responses">
        <div *ngIf="!comment.approved && responses.length == 1">
            <div class="row">
                <div class="col s12">
                    <div class="card-panel teal">
                        <span class="white-text">Wait a little bit, the instructor is evaluating your answer
                        </span>
                    </div>
                </div>
            </div>
            <app-comment [comment]=comment></app-comment>
        </div>
        <div *ngIf="comment.approved">
            <app-comment [comment]=comment></app-comment>
        </div>
    </div>

    <div *ngIf="!commented">
        <editor apiKey="nkdz6b2xiovxu1xczn402rtp6cnjyqg30jdv93hnz0v1ew53" 
            [init]="{plugins: 'link image', branding: false, min_height: 300}" id="response" name="response"
            [(ngModel)]="response"></editor>
            <a class="waves-effect waves-light btn" (click)="registerComment()"><i class="material-icons left">send</i> Send comment</a>
    </div>

</div>