<div class="row">
  <div class="col s4">
    <img style="margin-left: -120px;" src="assets/Images/Role-Icons/warlockgif2.gif" alt="Warlock GIF" width="400px">
  </div>
  <div class="col s8">
    <h1 mat-dialog-title style="margin-bottom: 0;">You haven't participated yet...</h1>

    <div mat-dialog-content>
      <p>{{data.dialogMessage}}</p>
    </div>

    <div mat-dialog-actions>
      <button class="btn grey lighten-3 black-text" (click)="onNoClick()">Not now</button>
      <button style="margin-left: 10px;" class="btn deep-purple accent-4">Let's do it!</button>
    </div>
  </div>
</div>
