<app-navbar-no-logged></app-navbar-no-logged>
<div class="containerBackground" [style.backgroundImage]="'url('+ selectedImage  +')'">
  <div class="row"  style="margin-bottom: 0px">
      <div class="col s12 m5 offset-m3">
        <div class="col s12 z-depth-20 card-panel cardOwn" style="margin-top: 20px">
          <form class="login-form" style="padding: 0px 20px 0px 20px">
            <div class="row" >
                <h2 class="center-align">Blackbriar</h2>
                <div class="center-align">
                  <!-- Switch -->
                  <h5>Select your role</h5>
                  <div class="switch">
                    <label style="color: black; font-size: 20px">
                      Instructor
                      <input type="checkbox" name="studentOrInstructor" [(ngModel)]="studentOrInstructor">
                      <span class="lever"></span>
                      Student
                    </label>
                  </div>
                </div>
            </div>
              <div class="row">
                <div class="input-field col s12 m12 l6" style="margin: 0 0 0 0;">
                  <i class="material-icons prefix">person</i>
                  <input class="validate" id="firstName" type="text" name="firstName" [(ngModel)]="firstName">
                  <label for="firstName" data-error="wrong" data-success="right">Enter your First Name</label>
                </div>
                <div class="input-field col s12 m12 l6" style="margin: 0 0 0 0;">
                  <i class="material-icons prefix">person</i>
                  <input class="validate" id="lastName" type="text" name="lastName" [(ngModel)]="lastName">
                  <label for="lastName" data-error="wrong" data-success="right">Enter your Last Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12" style="margin: 0 0 0 0;">
                  <i class="material-icons prefix">mail_outline</i>
                  <input id="email" type="email" name="email" [(ngModel)]="email">
                  <label for="email">Enter your mail</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6" style="margin: 0 0 0 0;">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="password" type="password" name="password" [(ngModel)]="password">
                  <label for="password">Enter your password</label>
                </div>
                <div class="input-field col s12 m6" style="margin: 0 0 0 0;">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="validatePassword" type="password" name="validatePassword" [(ngModel)]="validatePassword">
                  <label for="validatePassword">Enter your password again</label>
                </div>
              </div>
              <div class="row"  >
                <div class="input-field col s12" style="margin: 0 0 0 0;">
                  <a class="btn waves-effect waves-light col s12" (click)="register()">Register</a>
                </div>
              </div>
              <div class="row">
                  <div class="input-field col s12 m12 xl6" style="margin: 0 0 0 0;">
                    <a href="#" class="btn waves-effect waves-light blue darken-3 col s12"><i class="fa fa-facebook-official" aria-hidden="true"></i>    Register with Facebook</a>
                  </div>
                  <div class="input-field col s12 m12 xl6" style="margin: 0 0 0 0;">
                      <a href="#" class="btn waves-effect waves-light red darken-1 col s12"><i class="fa fa-google" aria-hidden="true"></i>   Register with Google</a>
                  </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <p class="center-align" style="margin: 0px 0px 2px 0px">Are you already have an account? <a routerLink="/">Login here</a></p>
                </div>     
              </div>
      
            </form>
          </div>
        </div>
    </div>

    <div data-target="dropdown1" id="drop" class="valign-wrapper dropdown-trigger" style="height:100%;">
      <a style="padding: 10px" (click)="openModal()">
        <img src="assets/photos/parkerheadshot.jpg" width="32px" class="circle responsive-img">
      </a>
    </div>

    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
  
</div>

